<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Strings Pipe
  </h1>
  <input type="text" [(ngModel)]='example'>
  <br><br>
  <div>
    <label for="">String: </label> {{ example | string: 'reverse' }}
    <br><br>
    <label for="">String: </label> {{ example | string: 'firstCap' }}
    <br><br>
    <label for="">String: </label> {{ example | string: 'capAllWords' }}
    <br><br>
    <label for="">String: </label> {{ example | string: 'noSpaces' }}
    <br><br>
    <label for="">String: </label> {{ example | string: 'truncate': 10 }}
  </div>
</div>

